.p1BoardLeft {grid-area: leftFirst;}
.p1BoardRight {grid-area: rightFirst;}
.p2BoardLeft {grid-area: leftSecond;}
.p2BoardRight {grid-area: rightSecond;}
.top {grid-area: header;
		grid-ara: header2;}

.container {
	display:grid;
	grid-template-areas: 
	'header header2'
	'leftFirst rightFirst'
	'leftSecond rightSecond';
	grid-gap: 10px;
	padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#overlayText{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	font-size: 50px;
  	color: white;
  	transform: translate(-50%,-50%);
  	-ms-transform: translate(-50%,-50%);
}

#buttonforWait {
	position: absolute;
	top: 60%;
  	left: 50%;
}

table{
	border-collapse: collapse;
	background-color: #2196F3;
}

td {
	border: 1px solid black;
  padding: 1.4rem;
  text-align: left;
}




